@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds');

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.tradeWinds {
  font-family: 'Trade Winds', cursive;
}